html{
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}
article p{
    font-family: Georgia, serif;
    line-height: 1.2;
}
section{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-width: 70vw;
}